.Utilities_wrapper {
  // width: 100%;
  // height: 100%;

  .car-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: start;
    position: absolute;
  }

  .flaghotspot_wrapper {
    width: 10px;
    height: 10px;
    // background-color: red;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: opacity 0.3s ease;
    .flaghotspot {
      z-index: 1;
      width: 150px;
      height: 32px;
      position: absolute;
      left: -71px;
      top: -73px;
      background: linear-gradient(
        to right,
        rgba(52, 169, 183, 0.5) 0%,
        #296aa1 50%,
        rgba(52, 169, 183, 0.5) 100%
      );
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(
        to right,
        rgba(256, 256, 256, 0.2) 0%,
        #ffffff 50%,
        rgba(256, 256, 183256, 0.2) 100%
      );

      .flaghotspot_text {
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
      }
    }

    &:hover {
      .dot {
        border: 2px solid white;
        color: var(--mainColor);
      }

      .dot_text {
        background: rgba(50, 125, 182, 0.7);
        color: white;
      }
    }

    .flaghotspot::before {
      content: "";
      height: 45px;
      width: 2px;
      bottom: -150%;
      left: 50%;
      position: absolute;
      border-left: 2px dashed white;
    }

    .flaghotspot::after {
      content: "";
      height: 8px;
      width: 8px;
      bottom: -170%;
      left: 48%;
      position: absolute;
      border-radius: 50%;
      background: white;
    }
  }

  .info-popup {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  // .image-container {
  //   position: relative;
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   .loading-container {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background: rgba($color: #000000, $alpha: 0.7);
  //     z-index: 1;

  //     .loading-overlay {
  //       position: absolute;
  //       top: 50%;
  //       left: 50%;
  //       transform: translate(-50%, -50%);
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: center;
  //       align-items: center;
  //       // background: rgba(0, 0, 0, 1);
  //       color: #fff;
  //       z-index: 10;

  //       .loading-bar {
  //         width: 80%;
  //         height: 10px;
  //         background: rgba(255, 255, 255, 0.5);
  //         border-radius: 5px;
  //         overflow: hidden;
  //         margin-bottom: 10px;

  //         .loading-progress {
  //           height: 100%;
  //           background: #4caf50;
  //         }
  //       }

  //       .loading-text {
  //         color: #fff;
  //         font-size: 32px;
  //       }
  //     }
  //   }

  // }

  .image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.5);
      z-index: 100;

      .loading-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        width: 400px;
        height: 300px;
        color: #fff;
        z-index: 10;
        padding: 0 10px;

        .loading-bar {
          // width: 100px;
          // height: 100px;
          background: rgba(255, 255, 255, 0.5);
          // border-radius: 50%;
          overflow: hidden;
          margin-bottom: 10px;
          width: 100%;
          height: 10px;
          border-radius: 5px;
          margin: 10px;

          .loading-progress {
            height: 100%;
            background: #d7ff8d;
            position: relative;
          }
        }

        .loading-text {
          color: #fff;
          font-size: 32px;
        }
        .loading-text1 {
          color: #fff;
          font-size: 20px;
          margin-top: 5px;
        }
        .loading-text2 {
          color: #fff;
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
  }
}.Utilities_wrapper {
  // width: 100%;
  // height: 100%;

  .car-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: start;
    position: absolute;
  }

  .flaghotspot_wrapper {
    width: 10px;
    height: 10px;
    // background-color: red;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: opacity 0.3s ease;
    .flaghotspot {
      z-index: 1;
      width: 150px;
      height: 32px;
      position: absolute;
      left: -71px;
      top: -73px;
      background: linear-gradient(
        to right,
        rgba(52, 169, 183, 0.5) 0%,
        #296aa1 50%,
        rgba(52, 169, 183, 0.5) 100%
      );
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(
        to right,
        rgba(256, 256, 256, 0.2) 0%,
        #ffffff 50%,
        rgba(256, 256, 183256, 0.2) 100%
      );

      .flaghotspot_text {
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
      }
    }

    &:hover {
      .dot {
        border: 2px solid white;
        color: var(--mainColor);
      }

      .dot_text {
        background: rgba(50, 125, 182, 0.7);
        color: white;
      }
    }

    .flaghotspot::before {
      content: "";
      height: 45px;
      width: 2px;
      bottom: -150%;
      left: 50%;
      position: absolute;
      border-left: 2px dashed white;
    }

    .flaghotspot::after {
      content: "";
      height: 8px;
      width: 8px;
      bottom: -170%;
      left: 48%;
      position: absolute;
      border-radius: 50%;
      background: white;
    }
  }

  .info-popup {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  // .image-container {
  //   position: relative;
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   .loading-container {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background: rgba($color: #000000, $alpha: 0.7);
  //     z-index: 1;

  //     .loading-overlay {
  //       position: absolute;
  //       top: 50%;
  //       left: 50%;
  //       transform: translate(-50%, -50%);
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: center;
  //       align-items: center;
  //       // background: rgba(0, 0, 0, 1);
  //       color: #fff;
  //       z-index: 10;

  //       .loading-bar {
  //         width: 80%;
  //         height: 10px;
  //         background: rgba(255, 255, 255, 0.5);
  //         border-radius: 5px;
  //         overflow: hidden;
  //         margin-bottom: 10px;

  //         .loading-progress {
  //           height: 100%;
  //           background: #4caf50;
  //         }
  //       }

  //       .loading-text {
  //         color: #fff;
  //         font-size: 32px;
  //       }
  //     }
  //   }

  // }

  .image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.5);
      z-index: 100;

      .loading-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        width: 400px;
        height: 300px;
        color: #fff;
        z-index: 10;
        padding: 0 10px;

        .loading-bar {
          // width: 100px;
          // height: 100px;
          background: rgba(255, 255, 255, 0.5);
          // border-radius: 50%;
          overflow: hidden;
          margin-bottom: 10px;
          width: 100%;
          height: 10px;
          border-radius: 5px;
          margin: 10px;

          .loading-progress {
            height: 100%;
            background: #d7ff8d;
            position: relative;
          }
        }

        .loading-text {
          color: #fff;
          font-size: 32px;
        }
        .loading-text1 {
          color: #fff;
          font-size: 20px;
          margin-top: 5px;
        }
        .loading-text2 {
          color: #fff;
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
  }
}
