.ErrorPage_wrapper {
    background-image: url(https://placehold.co/600x400?text=Hello+World);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
      
      .progress-loader {
        background: rgba(255, 255, 255, 0.2);
      }
      
      .progress {
        content: "";
        width: 1px;
        height: 5px;
        border-radius: 7px;
        background: linear-gradient(to right, #67451A 0%, #97702C 50%, #97702C 100%);
        transition: 0.5s;
        animation: loading1274 5s ease infinite;
      }
      
      @keyframes loading1274 {
        0% {
          width: 0%;
        }
      
        10% {
          width: 10%;
        }
      
        50% {
          width: 40%;
        }
      
        60% {
          width: 60%;
        }
      
        100% {
          width: 100%;
        }
      }

      // Loader
      
      .spinner {
        width: 70px;
        height: 70px;
        position: relative;
        animation: rotation 1s linear infinite;
        border-radius: 100em;
      }
      
      .path {
        stroke-dasharray: 100;
        stroke-dashoffset: 20;
        stroke-linecap: round;
      }
      
      @keyframes rotation {
        to {
          transform: rotate(360deg);
        }
      }
      
}