@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --sub: #4d7939;
  --primary: #d7ff8d;
}

@font-face {
  font-family: "Custom";
  src: url("/fonts/1KReey.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Custom2";
  src: url("/fonts/1FTV-Aptumi.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "risa";
  src: url("/fonts/1FTV-VIP-Casbery.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gliker";
  src: url("/fonts/Gliker-Black.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
